<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
        layout:decorate="~{layouts/personlayout}">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Title</title>
</head>
<body bgcolor="lavender">


            <div layout:fragment="content" align="center">
                <font color="white">
                    <h1>
                        여기는 본문
                    </h1>
                </font>
            </div>


</body>
</html>